
/GymManagement.Api/bin
/GymManagement.Api/obj
/GymManagement.Application/bin
/GymManagement.Application/obj
/GymManagement.Infrastructure/obj
/GymManagement.Infrastructure/bin
/GymManagement.Domain/obj
/GymManagement.Domain/bin
/GymManagement.Contracts/obj
/GymManagement.Contracts/bin

# Rider
.idea/

# Vscode
.vscode/

# VS
.vs/

GymManagement.sln.DotSettings.user
